@charset "UTF-8";


body {
	background-color: #F2F2F2;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	color: #080D22;
	height: 100vh;
	width: auto;
}
header {
	width: 100%;
	height: 57px;
	position: fixed;
	z-index: 12;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: white;
}
header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	margin: 0 auto;
	width: 1140px;
	background-color: white;
}
nav .nH_wrapper_items {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}
nav .nH_ul_set {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.nH_item_set_Li {
    height: inherit;
    width: auto;
    display: flex;
    align-items: center;
}
nav .nH_item_a_word {
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    color: #2a5885;
    letter-spacing: 0.5px;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .nH_item_a_word:hover {
	background-color: #fafafa;
	border-radius: 3px;
}
#top_logotip {
	height: inherit;
	width: auto;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}
#top_logotip img {
    display: block;
    height: 35px;
} 
#top_logotip span {
	display: none;
}
nav .nH_a_signup {
	background-color: #3498DB;
	color: white; 
	height: 35px;
	border-radius: 5px;
	width: auto;
	padding-left: 12px;
	padding-right: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
    line-height: 17px;
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
}
nav .nH_item_a_mr {
	margin-right: 10px;
}
nav .nH_item_a_ml {
	margin-left: 10px;
}
#nH_logoutBtn {
	display: none;
}
nav .nH_form_logout {
	height: inherit;
    width: auto;
    display: flex;
    align-items: center;
}
nav .nH_count_dialogsNR {
	margin-left: 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #3498DB;
    font-size: 15px;
    color: white;
    padding-top: 2px;
}














