@charset "UTF-8";


.userStart_for_priority_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userStart_for_priority {
	font-size: 14px;
    color: #8D8D90;
    margin-right: 70px;
}
.userStart_categoriesMains_wrap {
	margin-left: 20px;
	width: all;
}
.userStart_categoriesMains_wth_btn {
	margin-top: 10px;
}
.categories_mains_wrapper {
    display: flex;
	justify-content: flex-start;
	align-items: center;
}
.userStart_categoriesMains_wth_btn input {
	display: none;
}
.categories_checkbox_main {
	width: 25px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #D3D9DE;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.categories_checkbox_main i {
	opacity: 0;
	transition: 0.1s ease;
}
.userStart_categoriesMains_wth_btn input:checked ~ .categories_checkbox_main i {
	opacity: 1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn_open_mini_categories {
	width: 540px;
	height: 25px;
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	justify-content: space-between;
}
.btn_open_mini_categories i{
    margin-top: 2px;
    transition: 0.1s ease;
    margin-right: 20px;
} 
.btn_open_mini_categories i.icon_tranform  {
    margin-top: 2px;
    transform: rotate(180deg);
}
.categories_comment_me_wrap {
	margin-top: 20px;
}
.categories_comment_me_wrap h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
.categories_mini_close {
    display: none;
}
.categories_mini_close.categories_mini_open {
    display: block;
}
.categories_mini_wrapper {
	margin-left: 38px;
	margin-top: 3px;
}
.categories_mini_wrapper input {
	display: none;
}
.categories_mini_wrapper label {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 25px;
}
.categories_mini_wrapper .categories_mini_box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
    height: 20px;
    border-radius: 3px;
	border: 1px solid #D3D9DE
}
.categories_mini_box i {
	opacity: 0;
	transition: 0.1s ease;
	font-size: 20px;
}
.categories_mini_wrapper input:checked ~  label .categories_mini_box i {
	opacity: 1;
}
.categories_mini_wrapper .categories_mini_text {
	margin-left: 10px;
	font-size: 15px;
}



/*поднастройка wrapperов
*/

#startup_wrapper_2divs {
    width: 1140px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 70px;
    position: relative;
}
#startup_wrapper_left {
    width: 707px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    height: auto;
    position: relative;
}
#startup_wrapper_right {
    width: 420px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
}
.startup_wrap_padding {
    padding: 0 20px 20px 20px;
    width: all;
}
#navbar_startups_forum {
    width: all;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e8e9ed;
    background-color: #fafbfc;
    margin-bottom: 5px;
}
#navbar_startups_wrap_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navbar_startups_forum a {
    text-decoration: none;
}
#navbar_startups_forum a:hover {
    text-decoration: underline;
}
#startups_main_NAME {
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
    font-weight: 400;
    font-size: 16px;
    display: block;
    color: #656565;
    letter-spacing: 0.6px;
}
#startups_main_NAME:hover {
    text-decoration: underline;
}
#navbar_startups_forum i {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    color: #a3a6a8;
}
#startups_main_UNDERNAME {
    font-size: 17px;
    font-weight: 400;
    text-shadow: none;
    padding: 0;
    margin: 0;
    color: black;
}




.profile_left_header_info {
    width: all;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3498DB;
    justify-content: center;
    font-size: 16px;
}
.startup_menuSetting {
    height: auto;
    padding-bottom: 10px;
    width: all;
    padding-top: 10px;
}
.startup_menu_ITEM {
    width: all;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: #285473;
    font-weight: 400;
    font-size: 16px;
}
.startup_menu_ITEM:hover {
    background-color: #F2f2f2;
}
.startup_menu_ITEM_border {
    border-left: 5px solid #3498DB;
    padding-left: 15px;
    background-color: #fafafa;
}
#how_manyWantsdo {
    padding-left: 10px;
    color: black; 
}
.wrapSubBTNSr {
    width: all;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#resetFiltersHref {
    display: block;
    margin-left: 329px;
    margin-top: 15px;
    color: #2a5885;
    text-decoration: none;
    font-size: 14px;
}
#resetFiltersHref:hover {
    text-decoration: underline;
}









